<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <div id="content">
        <div class="login center">
            <a href="" id="btn-login">login</a>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>